<ion-card [id]="mostrar.ID" [ngStyle]="{'background-color': mostrar.Estado === 'Activo' ? 'green' : (mostrar.Estado === 'Inactivo' ? 'red' : 'inherit')}">
  <img [src]="mostrar.foto">
  <ion-card-header>
    <ion-card-title>
      {{ mostrar.Nombre }} {{ mostrar.Apellido }}
    </ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item>
      Información del participante <br> 
      {{ mostrar.Descripcion }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      Actividad a entrar: {{ mostrar.Actividad }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      Horario de entrada: {{ mostrar.Hora_entrada }} 
      Horario de salida: {{ mostrar.Hora_salida }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      Clasificación de entrada: {{ mostrar.Clasificacion }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      {{ mostrar.Estado }}
    </ion-item>
  </ion-list>
</ion-card>
