<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-router-link routerLink="/participante">
            Lista de participantes
          </ion-router-link>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-button routerLink="/home">
          Salir
        </ion-button>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
