<ion-card>
  <img alt="Silhouette of mountains" src="../assets/icon/ImagenLogin.png" />
  <ion-card-header>
    <ion-card-title>Bienvenido</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre de usuario" placeholder="Ingrese su nombre de usuario aqui"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" type="password" value="Ingrese su contraseña aqui"></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>



  </ion-card-content>
  <ion-button expand="block" routerLink="/participante">Inicio de sesión</ion-button>


</ion-card>
